{% extends "base.html" %}
{% block content %}
<script>
    document.getElementsByTagName('title')[0].innerHTML =  '关于我们'
</script>
    <div class="site-about-head">
        <div class="site-about-head-wrapper">
            <div class="server-top-content">
                <div class="site-about-head-title">关于波恩</div>
                <div class="site-about-head-body">
                    <div class="site-about-head-body-content">波恩致力于提供最出色的产品和服务</div>
                    <div class="site-about-head-body-content">让您能最大限度地感受到我们的热情</div>
                </div>
            </div>
        </div>

    </div>
    <div class="site-about-content-1">
        <div class="site-about-content-1-wrapper">
            <div class="site-about-content-1-title">关于波恩公司</div>
            <div class="site-about-content-1-subtitle">互联网科技是我们一贯的坚持</div>
            <div class="site-about-content-1-body">
                <div class="site-about-content-1-body-content" style="text-indent:2em">上海波恩网络科技服务有限公司（简称：波恩科技）于2008年5月在上海成立，创始人陈严担任公司CEO。适时作为国内早期运营B2C电子商务的企业之一，公司成功开发经营了面向英国市场的优惠信息网站www.everydaysale.co.uk。</div>
                <div class="site-about-content-1-body-content" style="text-indent:2em"> 随着企业的发展，现在的波恩科技立足强大的O2O电子营销市场，致力于为企业及用户打造高效全方位的门店管理解决方案。波恩科技开发的“波恩店尚ERP门店收银管理系统”（支持电脑、iPAD、手机等多终端操作），以门店收银管理解决方案为依托，为众多的商家创建互联网+先进管理软件平台，提供优质的O2O服务。同时还提供了一整套的硬件管理设备，包括店尚智能一体机、蓝牙扫描枪及无线POS机，不仅让管理和营销变得更加规范和高效，还支持多终端支付，内嵌ibeacon摇一摇等设备，为众多商家提供了更便捷的管理营销手段，能够广泛应用于美业、零售、教育、健身、休闲娱乐业等多种行业，满足单店，连锁，加盟等多种业务模式。</div>
                <div class="site-about-content-1-body-content" style="text-indent:2em"> 面对未来，波恩也在拓展更多行业的发展机会，愿与社会各界同仁携手合作，谋求共同发展，继续为新老客户提供最优质的产品和服务。</div>
            </div>
            <div class="site-about-content-1-img-wrapper">
                <img class="site-about-content-1-img" src="static/src/img/about/2.jpg">
            </div>
        </div>
    </div>
    <div  class="site-about-content-1">
        <div class="site-about-content-1-wrapper">
            <div class="site-about-content-1-title">工作环境</div>
            <div class="site-about-content-1-body" style="text-align:center">
                <div class="site-about-content-1-body-content">舒适开放的工作环境，为创意注满能量~</div>
            </div>
            <div class="site-about-content-1-img-wrapper">
                <img class="site-about-content-1-img" src="static/src/img/about/3.jpg">
            </div>
        </div>
    </div>
    <div id="s3" class="site-about-content-3">
        <div class="site-about-content-3-wrapper">
            <div class="site-about-content-3-title">联系我们</div>
            <div class="site-about-content-3-address">
                <span class="site-about-content-3-address-secondly">我们的地址是</span>
                <span class="site-about-content-3-address-main">上海市长宁区虹桥路1985号</span>
            </div>
            <div class="main-content all-hidden one-hidden">
                <iframe width='548' height='500' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='http://f.amap.com/037UDA' style="border: 2px solid #cccccc;"></iframe>'
            </div>
            <div class="main-content all-hidden two-hidden">
                <iframe width='992' height='600' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='http://f.amap.com/037UDA' style="border: 2px solid #cccccc;"></iframe>'
            </div>
            <div class="main-content one-hidden two-hidden">
                <iframe width='320' height='300' frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='http://f.amap.com/037UDA' style="border: 2px solid #cccccc;"></iframe>'
            </div>
        </div>
    </div>
    <div id="s4" class="text-center main-content" style="padding-top:80px">
        <div class="font-title-b">招贤纳士</div>
        <div class="font-content" style="color:#999999;padding-top:40px">欢迎来到波恩网络，人才对于波恩来说是最大的资产，因此我们致力营造自由舒适的工作环境，让团队的每一名成员都有机会发挥潜能，也确保每个人的意见都获得尊重。诚邀一样力求专业的您加入波恩的大家庭。</div>
        <div class="font-content" style="color:#999999;padding-bottom:80px">如果您对波恩的工作岗位感兴趣，请点击这里：<a href="http://www.lagou.com/gongsi/8689.html">I want you</a></div>
    </div>

</div>
{% endblock %}