<html dir="ltr" lang="zh-CN">
  <head>
    <meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>萌部落纪念日</title>

    <meta name="author" content="BONN arborous@qq.com">
    <meta property="og:image" content="static/src/images/main_logo.png">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="static/img/favicon.png"/>
    <link rel="stylesheet" href="static/css/bootstrap.css" type="text/css"/>

    <link rel="stylesheet" href="static/css/font-icons.css" type="text/css"/>
	<link rel="stylesheet" href="static/css/et-line.css" type="text/css"/>
	<link rel="stylesheet" href="static/css/ie.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/reset.css" type="text/css"/>
    <link rel="stylesheet" href="static/css/all-main.css" type="text/css"/>
	<link rel="stylesheet" href="static/css/slick.css" type="text/css"/>
	<link rel="stylesheet" href="static/css/slick-theme.css" type="text/css"/>
	<link rel="stylesheet" href="static/css/responsive-nav.css" type="text/css"/>


      <script type="text/javascript" src="static/js/jquery.js"></script>
      <script type="text/javascript" src="static/js/unslider.js"></script>
      <script type="text/javascript" src="static/js/slick.js"></script>
      <script type="text/javascript" src="static/js/jquery.singlePageNav.js"></script>
      <script type="text/javascript" src="static/js/top-nav.js"></script>
      <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=1ecb7439856e4425378391ba4e0bc9b9"></script>
      <script type="text/javascript">
        $(document).ready(function(){
          $('.single-item').slick({
          });
        });
      </script>

  </head>
<body id="top">
<div class="all-hidden">
    <div class="top-nav">
        <div class="main-content" >
            <ul id="sddm">
                <li><a class="draw-link" href="/site/about">关于我们</a>
                </li>
                <li><a class="draw-link" href="/site/investment">招商代理</a>
                </li>
                <li><a class="draw-link" href="/site/marketing">营销方案</a>
                </li>
                <li><a class="draw-link" href="/site/deal">行业解决方案</a>
                </li>
                <li><a href="#" class="draw-link" id="rjyfw" onclick="mopen('m2',id)" >加盟优势</a>
                    <div id="m2" class="plus-down" onmouseover="mcancelclosetime()"  onMouseOut="mclosetime()" >
                        <div class="main-content draw-one">
                    `       <ul>
                                <a class="draw-two draw-two-title" href="#">服务</a>
                                <a class="draw-two" href="/site/support" >技术支持</a>
                                <a class="draw-two" href="/site/server">增值服务</a>
                                <a class="draw-two" href="/site/download">下载</a>
                            </ul>
                    `       <ul>
                                <a class="draw-two draw-two-title" href="#" >软件</a>
                                <a class="draw-two" href="/site/dianshang" >店尚ERP</a>
                                <a class="draw-two" href="/site/pos" >Pad收银</a>
                                <a class="draw-two" href="/site/padmenu" >电子菜单</a>
                                <a class="draw-two" href="/site/weika">微卡</a>
                            </ul>
                    `       <ul class="draw-ul">
                                <a class="draw-two draw-two-title" href="#" >市场</a>
                                <a class="draw-two" href="/site/hardware">文具</a>
                                <!--<a class="draw-two" href="/site/dianshang">智能商业</a>-->
                                <a class="draw-two" href="/site/scanandpos">礼品/用品</a>
                                <!--<a class="draw-two" href="/site/padmenu">其他智能配件</a>-->
                            </ul>
                        </div>
                    </div>

                </li>
                <li><a class="draw-link" href="/site/index">首页</a>
                </li>

                <!--<img src="static/src/images/main_logo.png" style="    width: 50px; margin-top: 14px;" lass="pull-left">-->
            </ul>
            <div style="clear:both"></div>
        </div>
    </div>
</div>
<div class="sucaihuo-container one-hidden two-hidden">
	<section class="cd-section">
		<a class="cd-bouncy-nav-trigger" href="#0"><img src="static/src/img/cd-icon-close.png"></a>
	</section>
	<div class="cd-bouncy-nav-modal">
		<nav>
			<ul class="cd-bouncy-nav">
				<li><a href="/site/index">首页</a></li>
                <li  class="nav-drop-down" id="hardware-nav"><a href="#">智能硬件</a></li>
                <div class="dropdown-detail" id="hardware-detail">
                    <li><a href="/site/hardware">一体机</a></li>
                    <li><a href="/site/scanandpos">扫码枪/POS机</a></li>
                </div>
                <li  class="nav-drop-down" id="soft-nav"><a href="#">软件</a></li>
                <div class="dropdown-detail" id="soft-detail">
                    <li><a href="/site/dianshang">店尚ERP</a></li>
                    <li><a href="/site/pos">Pad收银</a></li>
                    <li><a href="/site/padmenu">电子菜单</a></li>
                    <li><a href="/site/weika">微卡</a></li>
                </div>
                <li  class="nav-drop-down" id="server-nav"><a href="#" >服务</a></li>
                <div class="dropdown-detail" id="server-detail">
                    <li><a href="/site/server">增值服务</a></li>
                    <li><a href="/site/support">技术支持</a></li>
                    <li><a href="/site/download">下载</a></li>
                </div>
				<li><a href="/site/deal">行业解决方案</a></li>
				<li><a href="/site/marketing">营销方案</a></li>
				<li><a href="/site/investment">招商代理</a></li>
				<li><a href="/site/about">关于我们</a></li>
			</ul>
		</nav>
		<a href="#0" class="cd-close"><img src="static/src/img/cd-icon-close.png"></a>
	</div>
</div>
    {% block content %}{% endblock %}
<div id="to_top" style="position: fixed;
    bottom: 30;
    right: 30;
    display: none;
    ">
    <div class="single-page-nav">
        <a  href="#top">
            <img src="static/src/img/to_top.png" style="">
        </a>
    </div>
</div>
    <div class="main-bottom" >
        <div class="text-center" style="font-size:14px;color:#d9d9d9;padding-top:48px">
            上海波恩网络科技服务有限公司 版权所有.
            <br>
            客服电话:400-633-0515
        </div>
        <div  class="text-center" style="font-size:14px;color:#989898;padding-top:24px;padding-bottom:48px">
<!--©2016 we-erp.com  京ICP证030173号  京公网安备11010802014106号  互联网信息服务资格证编号（京-经营性-2011-0009）  营业执照信息-->
            ©2016 we-erp.com  <a href="http://www.miibeian.gov.cn">沪ICP备13048137号</a> ©
        </div>
    </div>
    <script>
            $('.single-page-nav').singlePageNav({
                offset: 0,
                filter: ':not(.external)',
                updateHash: true,
            });
            window.onscroll = function(){
                var t = document.documentElement.scrollTop || document.body.scrollTop;
                  var nav = document.getElementById( "onepage-nav-fix" );
                  if( t >= 664 && nav && window.screen.width > 768 ) {
                    nav.style.display = "inline";
                  } else if(nav) {
                    nav.style.display = "none";
                  }
                  var to_top = document.getElementById( "to_top" );
                  if( t >= 300 && to_top ) {
                    to_top.style.display = "inline";
                  } else if(to_top) {
                    to_top.style.display = "none";
                  }
            }
    </script>

    <script  type="text/javascript">
        var temp = true;
        var number = ""
        type_name = ""
        function showTel(type){
            switch(type){
                case "sale_tel":
                    number = "400-633-0515";
                    type_name = "销售电话";
                    break;
            }
            if (temp) {
                document.getElementsByName('tel')[0].innerText = number;
                document.getElementsByName('tel')[1].innerText = number;
            }else{
                document.getElementsByName('tel')[0].innerText = type_name;
                document.getElementsByName('tel')[1].innerText = type_name;
            }
            temp = !temp;

        }
    </script>
<script>
jQuery(document).ready(function($) {
    var is_bouncy_nav_animating = false;
    //弹出菜单
    $('.cd-bouncy-nav-trigger').on('click', function() {
        $('.cd-close').css("transform","rotate(90deg)");
        $('.cd-close').css("-webkit-transform","rotate(90deg)");
        $('.cd-close').css("-moz-transform","rotate(90deg)");
        $('#top').css("overflow","hidden")
        triggerBouncyNav(true);
    });
    //关闭菜单
    $('.cd-bouncy-nav-modal .cd-close').on('click', function() {
        triggerBouncyNav(false);
        $('.cd-close').css("transform","rotate(0deg)");
        $('.cd-close').css("-webkit-transform","rotate(0deg)");
        $('.cd-close').css("-moz-transform","rotate(0deg)");
        $('#top').css("overflow","initial")
    });
    $('.cd-bouncy-nav-modal').on('click', function(event) {
        if ($(event.target).is('.cd-bouncy-nav-modal')) {
            triggerBouncyNav(false);
            $('.cd-close').css("transform","rotate(0deg)");
            $('.cd-close').css("-moz-transform","rotate(0deg)");
            $('.cd-close').css("-webkit-transform","rotate(0deg)");
            $('#top').css("overflow","initial")
        }
    });

    //内容展开
    var soft_nav_open = false;
    $('#soft-nav').on('click',function(event){
        if (!soft_nav_open){
            if(hardware_nav_open){
                $('#hardware-detail').slideUp("slow");
            }
            if(server_nav_open){
                $('#server-detail').slideUp("slow");
            }
            $('#soft-detail').slideDown("slow");
            $('.cd-bouncy-nav').animate({top:'22em'})
            server_nav_open = false;
            hardware_nav_open = false;
            is_detail_open = true;
            soft_nav_open = true;
        }else if(soft_nav_open){
            $('#soft-detail').slideUp("slow");
            $('.cd-bouncy-nav').animate({top:'17em'});
            is_detail_open = false;
            soft_nav_open = false;
        }
    })
    var hardware_nav_open = false;
    $('#hardware-nav').on('click',function(event){
        if ( !hardware_nav_open){
            if(soft_nav_open){
                $('#soft-detail').slideUp("slow");
            }
            if(server_nav_open){
                $('#server-detail').slideUp("slow");
            }
            $('#hardware-detail').slideDown("slow");
            $('.cd-bouncy-nav').animate({top:'20em'});
            soft_nav_open = false;
            server_nav_open = false;
            is_detail_open = true;
            hardware_nav_open = true;
        }else if(hardware_nav_open){
            $('#hardware-detail').slideUp("slow");
            $('.cd-bouncy-nav').animate({top:'17em'});
            is_detail_open = false;
            hardware_nav_open = false;
        }
    })
    var server_nav_open = false;
    $('#server-nav').on('click',function(event){
        if (!server_nav_open){
            if(hardware_nav_open){
                $('#hardware-detail').slideUp("slow");
            }
            if(soft_nav_open){
                $('#soft-detail').slideUp("slow");
            }
            $('#server-detail').animate({height:'toggle'});
            $('.cd-bouncy-nav').animate({top:'21em'});
            soft_nav_open = false;
            hardware_nav_open = false;
            is_detail_open = true;
            server_nav_open = true;
        }else if(server_nav_open){
            $('#server-detail').slideUp("slow");
            $('.cd-bouncy-nav').animate({top:'17em'});
            is_detail_open = false;
            server_nav_open = false;
        }
    })
    function triggerBouncyNav($bool) {
        //点击若没有动画
        if (!is_bouncy_nav_animating) {
            is_bouncy_nav_animating = true;
            //切换菜单动画
            $('.cd-bouncy-nav-modal').toggleClass('fade-in', $bool).toggleClass('fade-out', !$bool).find('li:last-child').one('webkitAnimationEnd oanimationend msAnimationEnd animationend', function() {
                $('.cd-bouncy-nav-modal').toggleClass('is-visible', $bool);
                if (!$bool)
                    $('.cd-bouncy-nav-modal').removeClass('fade-out');
                is_bouncy_nav_animating = false;
            });
            //判断css 动画是否开启..
            if ($('.cd-bouncy-nav-trigger').parents('.no-csstransitions').length > 0) {
                $('.cd-bouncy-nav-modal').toggleClass('is-visible', $bool);
                is_bouncy_nav_animating = false;
            }
        }
    }
});
</script>
</body>
</html>