{% extends "base.html" %}
{% block content %}
<script>
    document.getElementsByTagName('title')[0].innerHTML =  '行业解决方案'

</script>
    <div class="main-bg deal-top-bg">
        <div class="site-head-main-center">
            <div class="site-head-second-erp" style="color:white">店尚解决方案</div>
            <div class="site-head-fourth" style="color:white">以更透彻的视角纵观中国市场解决已知的难题，预见未知的困惑。</div>
        </div>
    </div>
    <div class="main-content">
        <div class="deal-grid-3-form">
            <div class="deal-grid-3">
                <img src="static/src/img/deal/2-1.jpg" class="deal-grid-3-img">
                <div class="font-three text-center" style="padding-bottom:16px;margin-left:38px;margin-right:38px;border-bottom:1px solid #e0e0e0">
                    美容行业
                </div>
                <a class="btn deal-btn-green  all-hidden two-hidden" href="">下载PPT</a>
            </div>
            <div class="deal-grid-3">
                <img src="static/src/img/deal/2-2.jpg" class="deal-grid-3-img">
                <div class="font-three text-center" style="padding-bottom:16px;margin-left:38px;margin-right:38px;border-bottom:1px solid #e0e0e0">
                    美发行业
                </div>
                <a class="btn deal-btn-green all-hidden two-hidden"  href="">下载PPT</a>
            </div>
        </div>
        <div class="deal-grid-3-form">
            <div class="deal-grid-3" >
                <img src="static/src/img/deal/2-3.jpg" class="deal-grid-3-img">
                <div class="font-three text-center" style="padding-bottom:16px;margin-left:38px;margin-right:38px;border-bottom:1px solid #e0e0e0">
                    美甲行业
                </div>
                <a class="btn deal-btn-green all-hidden two-hidden"  href="">下载PPT</a>
            </div>
            <div class="deal-grid-3" style="height:480px;background-color:#f9f9f9">
                <div class="text-center font-three" style="color:#999999;padding-top:194px">
                    更多解决方案
                    <br>
                    敬请期待
                </div>
            </div>
        </div>
        <div class="one-hidden text-center">
            请在电脑浏览器访问以观看，下载PPT内容
        </div>
        <div class="text-center bottom-regiest-part" >
            <div class="font-title-b text-center">
                放心交给我们，我们将提供最好的服务
            </div>
            <div class="font-two text-center" style="padding-top:30px;">
                我们秉承简约至尚的理念，专注于产品优化，竭尽所能为您提供最优质的用户体验
            </div>
            <a class="btn btn-main-info bottom-regiest-btn" href="/site/register">注册</a>
        </div>
    </div>


{% endblock %}