{% extends "base.html" %}
{% block content %}
<div class="all-hidden">
    <div class="banner">
        <ul>
            <li class="main-bg index-top-bg-one">
                <div class="main-content index-mobile">
                    <div class="font-title-b" style="padding-left: 12px;color: #404040;">
                        萌部落纪念日
                    </div>
                    <div class="font-title-second" style="padding-left: 12px;padding-top: 36px;color: #6c6c6c;">
                        低投资,高回报,品种多
                        <br>
                        带您迈入自我创业新时代！
                    </div>
                </div>
            </li>
            <li class="main-bg index-top-bg-two" >
                <div class="main-content index-mobile">
                    <div class="font-title-b" style="padding-left: 12px;color: #404040;">
                        萌部落纪念日
                    </div>
                    <div class="font-title-second" style="padding-left: 12px;padding-top: 36px;color: #6c6c6c;">
                        中国时尚文具用品领导者
                        <br>
                       国内知名民族自主品牌！
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="main-content index-margin-auto" style="height: 783px;">
        <div class="text-center font-title-b" >
            萌部落可以满足各行各业的顾客
        </div>
        <div class="text-center font-two">
            从酷爱学习的芊芊学子，到陷入爱情海洋的痴心情侣
            <br>
            我们的产品都能满足顾客的需求
        </div>
        <div style="padding-top:100px">
            <div class="grid-3">
                <img src="static/src/img/index/5-1.jpg" class="grid-3-img">
                <div class="font-three text-center" style="padding-bottom:16px;margin-left:38px;margin-right:38px;border-bottom:1px solid #e0e0e0">
                    文体用品
                </div>
                <div class="font-two text-center" style="padding-top:16px;    padding-bottom: 16px;">
                    提供学生顾客学习所需的所有
                    <br>
                    文具用品
                </div>
                <!--<div class="text-center" style="margin-top:36px;margin-bottom:30px">-->
                <!--<a href=""  class="font-two-info">-->
                <!--了解更多<i class="icon-angle-right" style="padding-left:10px"></i>-->
                <!--</a>-->
                <!--</div>-->
            </div>
            <div class="grid-3">
                <img src="static/src/img/index/5-2.jpg" class="grid-3-img">
                <div class="font-three text-center" style="padding-bottom:16px;margin-left:38px;margin-right:38px;border-bottom:1px solid #e0e0e0">
                    创意玩具
                </div>
                <div class="font-two text-center" style="padding-top:16px;    padding-bottom: 16px;">
                    时尚新颖高端的先进创意玩具
                    <br>
                    填补孩子的童年
                </div>
                <!--<div class="font-two-info text-center" style="margin-top:36px;margin-bottom:30px">-->
                <!--<a href=""  class="font-two-info">-->
                <!--了解更多<i class="icon-angle-right" style="padding-left:10px"></i>-->
                <!--</a>-->
                <!--</div>-->
            </div>
            <div class="grid-3">
                <img src="static/src/img/index/5-3.jpg" class="grid-3-img">
                <div class="font-three text-center" style="padding-bottom:16px;margin-left:38px;margin-right:38px;border-bottom:1px solid #e0e0e0">
                    唯美饰品
                </div>
                <div class="font-two text-center" style="padding-top:16px;    padding-bottom: 16px;">
                    架起友谊的桥梁，构建爱情的
                    <br>
                    城堡
                </div>
                <!--<div class="font-two-info text-center" style="margin-top:36px;margin-bottom:30px">-->
                <!--<a href=""  class="font-two-info">-->
                <!--了解更多<i class="icon-angle-right" style="padding-left:10px"></i>-->
                <!--</a>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="main-single-border"></div>
    <div class="main-content index-margin-auto">
        <div class="index-grid-4">
            <div class="index-grid-4-img">
                <img src="static/src/img/index/6-1.png" >
            </div>
            <div class="font-three text-center" style="">
                商务咨询
            </div>
        </div>
        <div class="index-grid-4">
            <div class="index-grid-4-img">
                <img src="static/src/img/index/6-2.png">
            </div>
            <div class="font-three text-center" style="">
                服务
            </div>

        </div>
        <div class="index-grid-4">
            <div class="index-grid-4-img">
                <img src="static/src/img/index/6-3.png" >
            </div>
            <div class="font-three text-center" style="">
                远程支持
            </div>

        </div>
        <div class=" index-grid-4">
            <div class="index-grid-4-img">
                <img src="static/src/img/index/6-4.png" >
            </div>
            <div class="font-three text-center" style="">
                商户培训
            </div>

        </div>
    </div>
    <div class="main-bg two-hidden all-hidden" style="height: initial;background-image: url('static/src/img/index/7-1.jpg'); ">
        <div class="main-content" style="min-width:660px;width:660px">
            <div class="text-center">
                <div>
                    <div style="padding-top:56px;font-size:48px;color:white;padding-bottom:60px">
                        店尚产品尽显专业品质
                        <br>
                        用心为您服务
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="main-content two-hidden all-hidden" style="height:464px">
        <div class="index-flag">
            <div style="width:194px;height:130px;background-color:#269cd8;font-size:24px;color:white;margin-left:1px;line-height:130px" class="pull-left text-center">
                合作伙伴
            </div>
            <img src="static/src/img/index/8-1.jpg" class="pull-left" style="width:195px;height:130px;border: 1px solid #e2e2e2;margin-left:5px">
            <img src="static/src/img/index/8-2.jpg" class="pull-left" style="width:195px;height:130px;border: 1px solid #e2e2e2;margin-left:4px">
            <img src="static/src/img/index/8-3.jpg" class="pull-left" style="width:195px;height:130px;border: 1px solid #e2e2e2;margin-left:4px">
            <img src="static/src/img/index/8-4.jpg" class="pull-left" style="width:195px;height:130px;border: 1px solid #e2e2e2;margin-left:4px">
        </div>
        <div style="padding-top:134px">
            <img src="static/src/img/index/8-5.jpg" class="pull-left" style="width:194px;height:130px;border: 1px solid #e2e2e2;margin-left:1px">
            <img src="static/src/img/index/8-6.jpg" class="pull-left" style="width:195px;height:130px;border: 1px solid #e2e2e2;margin-left:5px">
            <img src="static/src/img/index/8-7.jpg" class="pull-left" style="width:195px;height:130px;border: 1px solid #e2e2e2;margin-left:4px">
            <img src="static/src/img/index/8-8.jpg" class="pull-left" style="width:195px;height:130px;border: 1px solid #e2e2e2;margin-left:4px">
            <img src="static/src/img/index/8-9.jpg" class="pull-left" style="width:195px;height:130px;border: 1px solid #e2e2e2;margin-left:4px">
        </div>
    </div>
</div>
<div class="two-show ">
    <div class="banner">
        <ul>
            <li class="main-bg index-top-bg-one">
                <div class="main-content index-mobile">
                    <div class="font-title-b" style="    padding-top: 20px;color: #404040;">
                        店尚智能收银一体机
                    </div>
                    <div class="font-title-second" style="font-size:16px;color: #6c6c6c;">
                        时尚简洁，全渠道支付。覆盖多行业，
                        <br>
                        带您迈入互联网+新时代！
                    </div>
                    <div style=" padding-top: 18px;">
                        <a class="btn btn-main-info" href="/site/register">注册</a>
                    </div>
                </div>
            </li>
            <li class="main-bg index-top-bg-two" >
                <div class="main-content index-mobile">
                    <div class="font-title-b" style="    padding-top: 20px;color: #404040;">
                        店尚收银管理系统
                    </div>
                    <div class="font-title-second" style="font-size:16px;color: #6c6c6c;">
                        多终端支持，移动管理。品牌营销，
                        <br>
                        让您与客户更贴近！
                    </div>
                    <div style=" padding-top: 18px;">
                        <a class="btn btn-main-info" href="/site/download">下载</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="main-content" style="margin-left: auto;margin-right: auto;width: 320px;">
        <div class="text-center font-title-b" style="padding-top:100px">
            店尚可用于各行各业的商户
        </div>
        <div class="text-center font-two">
            从街角的咖啡店到商场的美食，从做完SPA到去上高尔夫课程
            我们的软件将会融入生活的每一个角落
        </div>
        <div style="width:100%">
            <div class="grid-3">
                <img src="static/src/img/index/5-1.jpg" class="grid-3-img">
                <div class="font-three text-center" style="padding-bottom:16px;margin-left:38px;margin-right:38px;border-bottom:1px solid #e0e0e0">
                    美容行业
                </div>
                <div class="font-two text-center" style="padding-top:16px;padding-bottom:10px">
                    帮助美业商户更好的管理会员
                    <br>
                    提升客户体验
                </div>
            </div>
            <div class="grid-3">
                <img src="static/src/img/index/5-2.jpg" class="grid-3-img">
                <div class="font-three text-center" style="padding-bottom:16px;margin-left:38px;margin-right:38px;border-bottom:1px solid #e0e0e0">
                    教育行业
                </div>
                <div class="font-two text-center" style="padding-top:16px;padding-bottom:10px">
                    智能课程分配和学员管理非常
                    <br>
                    方便
                </div>
            </div>
            <div class="grid-3">
                <img src="static/src/img/index/5-3.jpg" class="grid-3-img">
                <div class="font-three text-center" style="padding-bottom:16px;margin-left:38px;margin-right:38px;border-bottom:1px solid #e0e0e0">
                    餐饮行业
                </div>
                <div class="font-two text-center" style="padding-top:16px;padding-bottom:10px">
                    快速点单和排号系统让商家爱
                    <br>
                    不释手
                </div>
            </div>
        </div>
    </div>
    <div class="main-single-border"></div>
    <div class="main-content text-center">
        <div class="index-margin-auto" style="width:300px;padding-top:80px;height:315px">
            <div class="index-grid-4">
                <div style="width:100px;">
                    <img src="static/src/img/index/6-1.png" style="width:100px;">
                </div>
                <div class="font-three text-center" style="    font-size: 24px;">
                    在线咨询
                </div>
            </div>
            <div class="index-grid-4">
                <div style="width:100px;">
                    <img src="static/src/img/index/6-2.png" style="width:100px;">
                </div>
                <div class="font-three text-center" style="    font-size: 24px;">
                    增值服务
                </div>
            </div>
        </div>
        <div class="index-margin-auto" style="width:300px;padding-top:10px;height:215px">
            <div class="index-grid-4">
                <div style="width:100px;margin-left:auto;margin-right:auto">
                    <img src="static/src/img/index/6-3.png" style="width:100px;">
                </div>
                <div class="font-three text-center" style="    font-size: 24px;">
                    远程支持
                </div>
            </div>
            <div class=" index-grid-4">
                <div style="width:100px;margin-left:auto;margin-right:auto">
                    <img src="static/src/img/index/6-4.png" style="width:100px;">
                </div>
                <div class="font-three text-center" style="    font-size: 24px;">
                    商户培训
                </div>
            </div>
        </div>
    </div>
</div>
    <script type="text/javascript">
            $(function() {
             $('.banner').unslider({
				fluid: true,
				dots: true,
                speed: 900,
                delay: 10000,
                arrows:false,
                autoplay:true
             });
            });
    </script>
{% endblock %}