{% extends "base.html" %}
{% block content %}

    <div class="main-bg" style="background-image: url('static/src/img/index/1.jpg');">
        <div class="main-content" style="padding-top: 234px;">
            <div style="font-size: 48px;padding-left: 12px;color: #404040;">
                销售点的简洁，时尚，安全
                的iPad支架。
            </div>
            <div style="font-size: 24px;padding-left: 12px;padding-top: 36px;color: #6c6c6c;">
                聚集会员管理、财务、人力资源、统计报表、
                <br>
                一身的管理系统。
            </div>
            <div style=" padding-top: 36px;padding-left: 12px;">
                <a class="btn btn-main-info" href="">点击下载</a>
                <a class="btn btn-main-info" style="margin-left: 18px;" href="/site/register">注册</a>
            </div>
        </div>
    </div>
    <div class="main-content" style="">
        <div style="height:332px;border-bottom:1px solid #e0e0e0">
            <img src="static/src/img/index/2-1.jpg" class="pull-left" style="padding-left:12px;padding-top:72px">
            <div class="pull-left" style="padding-top:83px">
                <div class="font-one-48">
                    PC端店尚软件
                    <br>
                    端软件
                </div>
                <div class="font-two" style="padding-top:30px">
                    聚集会员管理、财务、人力资源、统计报表、仓储
                    <br>
                    采购于一身的管理系统，仓储采购与一身的管理系
                </div>
                <div style="margin-top:10px">
                    <a href=""  class="font-two-info" >
                        了解更多<i class="icon-angle-right" style="padding-left:10px"></i>
                    </a>
                </div>
            </div>
        </div>
        <div style="height:380px;border-bottom:1px solid #e0e0e0">
            <div class="pull-left" style="padding-left:26px;padding-top:190px">
                <div class="font-one-48">
                    方便高效的PC、移动端软件
                </div>
                <div class="font-two" style="padding-top:30px">
                    聚集会员管理、财务、人力资源、统计报表、仓储
                    <br>
                    采购于一身的管理系统，仓储采购与一身的管理系
                </div>
                <div style="margin-top:10px">
                    <a href=""  class="font-two-info">
                        了解更多<i class="icon-angle-right" style="padding-left:10px"></i>
                    </a>
                </div>
            </div>
            <img src="static/src/img/index/2-2.jpg" class="pull-left" style="padding-left:130px;padding-top:48px">
        </div>
        <div style="height:380px;">
            <img src="static/src/img/index/2-3.jpg" class="pull-left" style="padding-left:20px;padding-top:74px">
            <div class="pull-left" style="padding-left:90px;padding-top:138px">
                <div class="font-one-48">
                    方便高效的PC、移动
                    <br>
                    端软件
                </div>
                <div class="font-two" style="padding-top:30px">
                    聚集会员管理、财务、人力资源、统计报表、仓储
                    <br>
                    采购于一身的管理系统，仓储采购与一身的管理系
                </div>
                <div style="margin-top:10px">
                    <a href="" class="font-two-info" >
                        了解更多<i class="icon-angle-right" style="padding-left:10px"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-bg" style="height: 700px;background-image: url('static/src/img/index/3-1.jpg'); ">
        <div class="main-content" style="padding-top: 234px;">
            <div class="font-one-48" >
                WeVip-微卡
                <br>
                让用户体验无卡时代
            </div>
            <div class="font-two" style="">
                微生活VIP卡包-个人会员卡管理应用告别实卡烦
                <br>
                恼，让生活更简单有趣。
            </div>
            <div  style="margin-top:36px">
                    <a href="" class="font-two-info">
                        点击了解更多<i class="icon-angle-right" style="padding-left:10px"></i>
                    </a>
            </div>
            <div style="height:158px;margin-top: 36px;color: white;">
                <div style="background-color: rgba(0, 0, 0, 0.52);border-radius: 0 0 50px 0;width: 60%;">
                    <img src="static/src/img/index/3-2.jpg" class="pull-left" style="    margin-right: 34px;
        margin-top: 29px;
        border-radius: 50px;
        height: 88px;
        border: 6px solid #c0c3c4;">
                    <div style="font-size:24px;padding-top: 38px;">
                        时尚、安全的支架
                    </div>
                    <div style="font-size:14px;padding-bottom: 38px;">
                        一个广场磁条阅读器包含在框中。读者都可以同时连接到您
                        <br>
                        的设备，这样您就可以保持，都可以同时连。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content"  style="height:700px;">
        <img src="static/src/img/index/4-1.jpg" class="pull-left" style="padding-left:0px;padding-top:141px">
        <div class="pull-right" style="padding-top:160px">
            <div class="font-one-48">
                时尚、安全的支架
            </div>
            <div class="font-two" style="padding-top:30px">
                一个广场磁条阅读器包含在框中。读者都可以同时
                <br>
                连接到您的设备，这样您就可以保持,只要你的客
                <br>
                户都被着他们刷卡。
            </div>
            <div style="margin-top:36px">
                <a href=""  class="font-two-info">
                    了解更多<i class="icon-angle-right" style="padding-left:10px"></i>
                </a>
            </div>
            <img src="static/src/img/index/4-2.jpg" style="padding-top:108px">
        </div>
    </div>
    <div class="main-single-border"></div>
    <div class="main-content" style="height:883px;padding-bottom:100px;">

            <div class="text-center font-one-48" style="padding-top:100px">
                工具可用于各行各业的企业
            </div>
            <div class="text-center font-two">
                从你的口袋里所有的位置报告寄存器中
                <br>
                我们已经为所有类型和规模。
            </div>
            <div style="padding-top:100px">
                <div class="pull-left" style="    border-radius: 10px;
    border: 1px solid #e2e2e2;">
                    <img src="static/src/img/index/5-1.jpg" style="border-radius: 10px 10px 0px 0px;">
                    <div class="font-three text-center" style="padding-bottom:16px;margin-left:38px;margin-right:38px;border-bottom:1px solid #e0e0e0">
                        有时间在这里
                    </div>
                    <div class="font-two text-center" style="padding-top:16px;">
                        很多软件都包含注册机，或者叫序列
                        <br>
                        号生成器。一般情况下
                    </div>
                    <div class="text-center" style="margin-top:36px;margin-bottom:30px">
                        <a href=""  class="font-two-info>
                            了解更多<i class="icon-angle-right" style="padding-left:10px"></i>
                        </a>
                    </div>
                </div>
                <div class="pull-left" style="    border-radius: 10px;
    border: 1px solid #e2e2e2;margin-left:28px">
                    <img src="static/src/img/index/5-2.jpg" style="border-radius: 10px 10px 0px 0px;">
                    <div class="font-three text-center" style="padding-bottom:16px;margin-left:38px;margin-right:38px;border-bottom:1px solid #e0e0e0">
                        让我们成长
                    </div>
                    <div class="font-two text-center" style="padding-top:16px;">
                        我们在这里帮助您采取下一步行动。
                        <br>
                        无论您是希望增加更多的地方
                    </div>
                    <div class="font-two-info text-center" style="margin-top:36px;margin-bottom:30px">
                        <a href=""  class="font-two-info>
                            了解更多<i class="icon-angle-right" style="padding-left:10px"></i>
                        </a>
                    </div>
                </div>
                <div class="pull-right" style="    border-radius: 10px;
    border: 1px solid #e2e2e2;">
                    <img src="static/src/img/index/5-3.jpg" style="border-radius: 10px 10px 0px 0px;">
                    <div class="font-three text-center" style="padding-bottom:16px;margin-left:38px;margin-right:38px;border-bottom:1px solid #e0e0e0">
                        有时间在这里
                    </div>
                    <div class="font-two text-center" style="padding-top:16px;">
                        很多软件都包含注册机，或者叫序列
                        <br>
                        号生成器。一般情况下
                    </div>
                    <div class="font-two-info text-center" style="margin-top:36px;margin-bottom:30px">
                        <a href=""  class="font-two-info>
                            了解更多<i class="icon-angle-right" style="padding-left:10px"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <div class="main-single-border"></div>
    <div class="main-content" style="padding-top:80px;height:515px">
        <div class="pull-left" style="width:200px">
            <div style="width:154px;margin-left:auto;margin-right:auto">
                <img src="static/src/img/index/6-1.png" style="width:154px;">
            </div>
            <div class="font-three text-center" style="">
                线上客服
            </div>
            <div class="font-two text-center" style="padding-top:24px">
                时间点：12点-22点请于
                <br>
                这个时间点咨询
            </div>
            <div class="font-two-info text-center" style="margin-top:30px;margin-bottom:80px">
                <a href=""  class="font-two-info>
                    展开对话<i class="icon-angle-right" style="padding-left:10px"></i>
                </a>
            </div>
        </div>
        <div class="pull-left" style="width:200px;margin-left:72px">
            <div style="width:154px;margin-left:auto;margin-right:auto">
                <img src="static/src/img/index/6-2.png" style="width:154px;">
            </div>
            <div class="font-three text-center" style="">
                销售点
            </div>
            <div class="font-two text-center" style="padding-top:24px">
                查询全国各地的销售点
                <br/>
                <br/>
            </div>
            <div class="font-two-info text-center" style="margin-top:30px;margin-bottom:80px">
                <a href=""  class="font-two-info>
                    点击查询<i class="icon-angle-right" style="padding-left:10px"></i>
                </a>
            </div>
        </div>
        <div class="pull-left" style="width:200px;margin-left:72px">
            <div style="width:154px;margin-left:auto;margin-right:auto">
                <img src="static/src/img/index/6-3.png" style="width:154px;">
            </div>
            <div class="font-three text-center" style="">
                销售客服
            </div>
            <div class="font-two text-center" style="padding-top:24px">
                时间点：12点-22点请于
                <br>
                这个时间点咨询
            </div>
            <div class="font-two-info text-center" style="margin-top:30px;margin-bottom:80px">
                <a href=""  class="font-two-info>
                    电话联系<i class="icon-angle-right" style="padding-left:10px"></i>
                </a>
            </div>
        </div>
        <div class="pull-left" style="width:200px;margin-left:72px">
            <div style="width:154px;margin-left:auto;margin-right:auto">
                <img src="static/src/img/index/6-4.png" style="width:154px;">
            </div>
            <div class="font-three text-center" style="">
                技术支持
            </div>
            <div class="font-two text-center" style="padding-top:24px">
                时间点：12点-22点请于
                <br>
                这个时间点咨询
            </div>
            <div class="font-two-info text-center" style="margin-top:30px;margin-bottom:80px">
                <a href=""  class="font-two-info>
                    展开对话<i class="icon-angle-right" style="padding-left:10px"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="main-bg" style="height: initial;background-image: url('static/src/img/index/7-1.jpg'); ">
        <div class="main-content" style="min-width:660px;width:660px">
            <div class="single-item text-center">
                <div>
                    <img src="static/src/img/index/7-2.jpg" style="margin-top:80px;height:146px;border-radius: 100%;border: 8px solid #2f7fa9;margin-left: auto;margin-right: auto;">
                    <div style="font-size:24px;color:rgba(255, 255, 255, 0.5);padding-top:15px">
                        克丽缇娜有限公司
                    </div>
                    <div style="padding-top:56px;font-size:36px;color:white;padding-bottom:60px">
                        一直在波恩买，速度快是最满意的！优惠
                        <br>
                        多，品质好！
                    </div>
                </div>
                <div>
                    <img src="static/src/img/index/7-2.jpg" style="margin-top:80px;height:146px;border-radius: 100%;border: 8px solid #2f7fa9;margin-left: auto;margin-right: auto;">
                    <div style="font-size:24px;color:rgba(255, 255, 255, 0.5);padding-top:15px">
                        克丽缇娜有限公司
                    </div>
                    <div style="padding-top:56px;font-size:36px;color:white;padding-bottom:60px">
                        一直在波恩买，速度快是最满意的！优惠
                        <br>
                        多，品质好！
                    </div>
                </div>
                <div>
                    <img src="static/src/img/index/7-2.jpg" style="margin-top:80px;height:146px;border-radius: 100%;border: 8px solid #2f7fa9;margin-left: auto;margin-right: auto;">
                    <div style="font-size:24px;color:rgba(255, 255, 255, 0.5);padding-top:15px">
                        克丽缇娜有限公司
                    </div>
                    <div style="padding-top:56px;font-size:36px;color:white;padding-bottom:60px">
                        一直在波恩买，速度快是最满意的！优惠
                        <br>
                        多，品质好！
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="main-content" style="height:464px">
        <div style="padding-top:100px">
            <div style="width:198px;height:130px;background-color:#269cd8;font-size:24px;color:white;margin-left:1px;line-height:130px" class="pull-left text-center">
                合作伙伴
            </div>
            <img src="static/src/img/index/8-1.png" class="pull-left" style="width:198px;height:130px;border: 1px solid #e2e2e2;margin-left:5px">
            <img src="static/src/img/index/8-2.png" class="pull-left" style="width:198px;height:130px;border: 1px solid #e2e2e2;margin-left:4px">
            <img src="static/src/img/index/8-3.png" class="pull-left" style="width:198px;height:130px;border: 1px solid #e2e2e2;margin-left:4px">
            <img src="static/src/img/index/8-4.png" class="pull-left" style="width:198px;height:130px;border: 1px solid #e2e2e2;margin-left:4px">
        </div>
        <div style="padding-top:134px">
            <img src="static/src/img/index/8-5.png" class="pull-left" style="width:198px;height:130px;border: 1px solid #e2e2e2;margin-left:1px">
            <img src="static/src/img/index/8-6.png" class="pull-left" style="width:198px;height:130px;border: 1px solid #e2e2e2;margin-left:5px">
            <img src="static/src/img/index/8-7.png" class="pull-left" style="width:198px;height:130px;border: 1px solid #e2e2e2;margin-left:4px">
            <img src="static/src/img/index/8-8.png" class="pull-left" style="width:198px;height:130px;border: 1px solid #e2e2e2;margin-left:4px">
            <img src="static/src/img/index/8-9.png" class="pull-left" style="width:198px;height:130px;border: 1px solid #e2e2e2;margin-left:4px">
        </div>
    </div>

{% endblock %}