<!doctype html>
<html lang="en" class="default js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths tablesaw-enhanced" >
 <head>
	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  	<title>商户注册</title>
      <!--[if lte IE 8]> 
     <style>.stage-container{display:none!important;}</style>
<![endif]-->

  	<meta name="author" content="BONN arborous@qq.com">
  	<meta name="description" content="">
  	<meta name="keywords" content="">
  	<meta name="robots" content="index, follow">
  	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  	<link rel="stylesheet" href="static/src/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="static/src/css/style.css" type="text/css" />

	<!-- One Page Module Specific Stylesheet -->
	<link rel="stylesheet" href="static/src/css/onepage.css" type="text/css" />
	<!-- / -->

	<link rel="stylesheet" href="static/src/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="static/src/css/et-line.css" type="text/css" />
	<link rel="stylesheet" href="static/src/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="static/src/css/fonts.css" type="text/css" />
	<link rel="stylesheet" href="static/src/css/responsive.css" type="text/css" />
	<link rel="stylesheet" href="static/src/css/components-md.css" type="text/css" />
    <link rel="stylesheet" href="static/src/css/register.css" type="text/css" />
  	<script type="text/javascript" src="static/src/js/jquery.js"></script>
    <script type="text/javascript" src="static/src/js/plugins.js"></script>

  	<script type="text/javascript" src="static/src/js/bootstrap-alert.js"></script>
  	<script type="text/javascript" src="static/src/js/site.js"></script>
     	
 </head>
 <body>
		<div id="header-register" class="">

			<div id="header-wrap">

				<div class="container clearfix">

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="/site/index" class="standard-logo" data-dark-logo="static/src/images/logo21.png"><img src="static/src/images/logo21.png" alt="Bonn Logo"></a>
						<a href="/site/index" class="retina-logo" data-dark-logo="static/src/images/logo21@2x.png"><img src="static/src/images/logo21@2x.png" alt="Bonn Logo"></a>
					</div><!-- #logo end -->
				</div>
			</div>
		</div><!-- #header end -->
            <div id="app-container">
    	<div class="container" id="container">
	    	<div id="body" class="register" style="padding:30px 0" >
                	<h2 style="text-align:center">{{ title }}!</h2>
                    <!--<p>{{ message }}</p>-->
                    <p>你的信息已经提交，我们将会通过电话，短信或邮件通知您。！</p>

		     </div>
    	</div>
    </div>
    <div id="register-footer" class="noborder">
			<div id="copyrights">
				<div class="container center clearfix">
                    上海波恩网络科技服务有限公司 版权所有.<br>客服电话:400-633-0515
                </div>
			</div>

		</div>
 </body>
</html>
