{% extends "base.html" %}
{% block content %}
<script>
    document.getElementsByTagName('title')[0].innerHTML =  '招商'
</script>
    <div class="main-bg two-show investment-top-bg">
        <div class="site-head-main-center">
            <div class="site-head-second-erp" style="color:white">成为萌部落的一份子</div>
            <div class="site-head-fourth" style="color:white">让我们携手一起</div>
            <div class="site-head-fourth" style="color:white">创建零售新时代</div>
        </div>
    </div>
    <div class="main-bg all-hidden investment-top-bg" style="background-image: url('static/src/img/investment/1.jpg'); ">
        <div class="main-content index-mobile">
            <div class="font-title-w" style="padding-left:80px">
                成为萌部落的一份子
            </div>
            <div class="font-title-second" style="color:#f7f7f7;padding-top: 36px;width:400px;margin-left:80px">
                让我们携手一起
                <br>
                创建零售新时代
            </div>
        </div>
    </div>
    <div id="s1" class="mian-onepage-nav all-hidden two-hidden">
        <div class="main-content single-page-nav">
            <a class="btn btn-inside-nav " href="#s1">概述</a>
            <a class="btn btn-inside-nav " href="#s2">支持</a>
            <a class="btn btn-inside-nav " href="#s3">申请流程</a>
            <a class="btn btn-inside-nav " href="#s4">申请条件</a>
            <a class="btn btn-inside-nav " href="#s5">申请</a>
            <button onclick="showTel('sale_tel')" class="btn pull-right btn-inside-nav btn-inside-b" name="tel">免费开通</button>
        </div>
    </div>
    <div class="mian-onepage-nav onepage-nav-fix" id="onepage-nav-fix">
        <div class="main-content single-page-nav">
            <a class="btn btn-inside-nav " href="#s1">概述</a>
            <a class="btn btn-inside-nav " href="#s2">支持</a>
            <a class="btn btn-inside-nav " href="#s3">申请流程</a>
            <a class="btn btn-inside-nav " href="#s4">申请条件</a>
            <a class="btn btn-inside-nav " href="#s5">申请</a>
            <button onclick="showTel('sale_tel')" class="btn pull-right btn-inside-nav btn-inside-b" name="tel">免费开通</button>
        </div>
    </div>
    <div class="main-content investment-s1">
        <img class="investment-img-right" src="static/src/img/investment/4-1.jpg" >
        <div>
            <div class="font-title-b" style="margin-bottom:20px">
                概述
            </div>
            <div class="investment-font-content" >
                •  公司低于市场价格的30%-50%供货。
            </div>
            <div class="investment-font-content" >
                •  每市县镇仅限一家
            </div>
            <div class="investment-font-content" >
                •  不设首批进货量
            </div>
            <div class="investment-font-content" >
                •  自由退换货。卖出去是你的，卖不了还给我们
            </div>
            <div class="investment-font-content" >
                •  负责进行开业指导，传授礼品用具销售经验
            </div>
            <div class="investment-font-content" >
                •  如产品有质量问题或开箱损坏（未经客户使用）的，公司一律实行无偿退换
            </div>
        </div>
    </div>
    <div class="main-content text-center" style="padding-top:80px">
        <div class="text-center font-title-b">
            萌部落合作伙伴活动
        </div>
        <div class="text-center font-content" style="color:#999999;padding-top:20px">
            我们是个年轻和创新的团队，需要年轻、充满激情与活力的你一起加入，强强联合，整合优势，结成战略联盟关系。
            公司提供一站式购齐配送服务，以低价供应各种规格的学生、办公文具、时尚礼品、卡通玩偶和各类文体用品，省略了从厂家、代理商、批发商、经销商、店铺、消费者的种种中间环节。
            我们的目标：是让你用最小投资成为当地比较规模的礼品文具超市或体验馆，以一个普通市（县）为例，礼品文具市场年消费大约在3600万元左右，如公司下属连锁店一年销售业绩为47万元，约占当地市场份额的1.3%.
        </div>
        <img src="static/src/img/investment/4-2.jpg" class="investment-img-4-2">
    </div>
    <div id="s2" class="main-content" style="padding-top:80px">
        <div class="text-center font-title-b">
            作为店尚战略联盟，您将获得十大扶植
        </div>
        <div class="investment-grid-form">
            <div class="grid-4-form">
            <div class="investment-grid-5">
                <div class="text-center">
                    <img class="investment-grid-4-img" src="static/src/img/investment/1-7.png" >
                </div>
                <div class="investment-second-title text-center" style="color:#404040">
                    乐趣
                </div>
                <div class="investment-second-content text-center">
                    在全球发掘乐趣、创造乐趣、传播乐趣、分享乐趣，萌部落纪念日是一间聪明有趣的公司。
                </div>
            </div>
            <div class="investment-grid-5">
                <div class="text-center">
                    <img class="investment-grid-4-img" src="static/src/img/investment/1-6.png" >
                </div>
                <div class="investment-second-title text-center" style="color:#404040">
                    科技
                </div>
                <div class="investment-second-content text-center">
                    将最新科技进步融入萌部落纪念日产品革新，并将之有效转化为“企业创新力”，是萌部落纪念日价值观的重要部分。
                </div>
            </div>
            </div>
            <div class="grid-4-form">
            <div class="investment-grid-5">
                <div class="text-center">
                    <img class="investment-grid-4-img" src="static/src/img/investment/1-10.png" >
                </div>
                <div class="investment-second-title text-center" style="color:#404040">
                    时尚
                </div>
                <div class="investment-second-content text-center">
                    结合时尚元素，创造潮流话题的产品设计，将成为萌部落纪念日发挥创意价值的优势空间。
                </div>
            </div>
            <div class="investment-grid-5">
                <div class="text-center">
                    <img class="investment-grid-4-img" src="static/src/img/hardware/3-2.png" >
                </div>
                <div class="investment-second-title text-center" style="color:#404040">
                    性价比
                </div>
                <div class="investment-second-content text-center">
                    永远提供给顾客最物有所值的商品，是萌部落纪念日的核心优势。
                </div>
            </div>
            </div>
            <div class="grid-4-form investment-grid-5">
                <div class="text-center">
                    <img class="investment-grid-4-img" src="static/src/img/scanandpos/5-8.png" >
                </div>
                <div class="investment-second-title text-center" style="color:#404040">
                    环保
                </div>
                <div class="investment-second-content text-center">
                    尽力节约资源和能源，提高技术含量，用环保的材料和尽量少的材料，制造高价值的产品 。
                </div>
            </div>
        </div>
    </div>
    <div id="s3" class="main-bg all-hidden"  style="background-image: url('static/src/img/investment/2.jpg'); ">
        <div class="main-content">
            <div class="text-center font-title-w" style="padding-top:30px">
                申请流程
            </div>
            <div class="investment-short-line">
            </div>
            <div class="font-content text-center" style="color: white;padding-top:40px;padding-bottom:14px">
                萌部落面向全市招募战略联盟伙伴，以市场需求为中心，致力于打造文具礼
                <br>
                品行业连锁第一品牌，共同实现美好的创业蓝图！
            </div>
            <div class="investment-grid-5">
                <div class="text-center">
                    <img class="investment-grid-5-img" src="static/src/img/investment/3-5.png">
                </div>
                <div class="investment-second-content text-center" style="color:white">
                    认证合作伙伴
                </div>
            </div>
            <div class="investment-grid-5">
                <div class="text-center">
                    <img class="investment-grid-5-img" src="static/src/img/investment/3-4.png">
                </div>
                <div class="investment-second-content text-center" style="color:white">
                    发放授权书及相关资料
                </div>
            </div>
            <div class="investment-grid-5">
                <div class="text-center">
                    <img class="investment-grid-5-img" src="static/src/img/investment/3-3.png">
                </div>
                <div class="investment-second-content text-center" style="color:white">
                    支付款项
                </div>
            </div>
            <div class="investment-grid-5">
                <div class="text-center">
                    <img class="investment-grid-5-img" src="static/src/img/investment/3-2.png">
                </div>
                <div class="investment-second-content text-center" style="color:white">
                    签约
                </div>
            </div>
            <div class="investment-grid-5">
                <div class="text-center">
                    <img class="investment-grid-5-img" src="static/src/img/investment/3-1.png">
                </div>
                <div class="investment-second-content text-center" style="color:white">
                    接洽
                </div>
            </div>
            <div class="text-center" style="padding-top: 305px;">
                <img src="static/src/img/investment/3-6.png">
            </div>
        </div>
    </div>
    <div id="s4" class="main-content all-hidden two-hidden" style="padding-top:80px;height:800px">
        <div class="text-center font-title-b">
            申请条件
        </div>
        <div class="short_line">
        </div>
        <div class="text-center font-content" style="color:#999999;padding-top:20px">
            成为萌部落战略联盟伙伴，您需要
        </div>
        <div class="investment-in-main">
            <div class="investment-grid-3">
                <img src="static/src/img/investment/7-3.png" class="investment-grid-3-img">
                <div class="text-center font-content">
                    独立承担民事责任能力的自然人或独立承担民事责任的企业法人.
                </div>
            </div>
            <div class="investment-grid-3">
                <img src="static/src/img/investment/7-2.png" class="investment-grid-3-img">
                <div class="text-center font-content">
                    认可萌部落纪念日文具经营理念和品牌文化，接受总部的管理经营模式及规范化运作市场.
                </div>
            </div>
            <div class="investment-grid-3">
                <img src="static/src/img/investment/7-1.png" class="investment-grid-3-img">
                <div class="text-center font-content">
                    具有良好的社会及商业信誉，有一定的商业经营能力及市场操作的基本常识.
                </div>
            </div>
        </div>
        <div class="investment-in-main-two">
            <div class="investment-grid-2">
                <img src="static/src/img/investment/7-5.png" class="investment-grid-3-img">
                <div class="text-center font-content">
                    必须是经销店的直接经营者或管理者，有一定的创业资金和相应的投资能力及风险意识.
                </div>
            </div>
            <div class="investment-grid-2">
                <img src="static/src/img/investment/7-4.png" class="investment-grid-3-img">
                <div class="text-center font-content">
                    店面严格按照总部提供的装修方案进行店内外装修、安装室内外广告海报灯箱等.
                </div>
            </div>
        </div>
    </div>
    <div id="s5" class="main-bg" style="background-image: url('static/src/img/investment/3.jpg');height:450px">
        <div class="text-center">
            <img src="static/src/img/investment/8.png" style="padding-top:80px">
        </div>
        <div class="text-center font-title-w">
            申请
        </div>
        <div class="font-content text-center" style="color:white">
            致力目标行业的整合与进步，希望也有您一份付出与收获，请致电：400-633-0515
            <br>
            由萌部落渠道部专业团队为您详解。
        </div>
{#        <div class="text-center" style=" padding-top: 36px;padding-left: 12px;">#}
{#            <a class="btn btn-main-info" href="/site/investment_register">立刻申请</a>#}
{#        </div>#}
    </div>

{% endblock %}