{% extends "base.html" %}
{% block content %}
<script>
    document.getElementsByTagName('title')[0].innerHTML =  '扫码枪/POS机'
</script>
    <div class="main-bg scanandpos-top-bg" style="background-image: url('static/src/img/mark/wenju_1.jpg');">
        <div class="site-head-main-center">
            <div class="site-head-second-erp" style="color:white">文具市场</div>
            <div class="site-head-fourth" style="color:white">一次性消费品逐渐成为社会消费方式的主流</div>
        </div>
    </div>
    <div class="text-center font-title-b">
        潜在需求分析
    </div>
    <div class="text-center font-content" style="padding-top:40px;color:#999999;padding-bottom:40px">
        据不完全统计目前，中国有在校中小学生1.9亿人，大中专院校学生5000万人
        <br>
        ，企事业单位员工约6000万人。
    </div>
    <div class="text-center">
        <img src="static/src/img/mark/xuesheng.jpg" class="scan-img">
    </div>



    <div class="main-single-border"></div>
    <div class="text-center bottom-regiest-part" >
        <div class="font-title-b text-center">
            放心交给我们，我们将提供最好的服务
        </div>
        <div class="font-two text-center" style="padding-top:30px;">
            我们秉承简约至尚的理念，专注于产品优化，竭尽所能为您提供最优质的用户体验
        </div>
        <a class="btn btn-main-info bottom-regiest-btn" href="/site/register">注册</a>
    </div>

{% endblock %}