{% extends "base.html" %}
{% block content %}
<script>
    document.getElementsByTagName('title')[0].innerHTML =  '扫码枪/POS机'
</script>
    <div class="main-bg scanandpos-top-bg">
        <div class="site-head-main-center">
            <div class="site-head-second-erp" style="color:white">精湛诠释硬件工艺</div>
            <div class="site-head-fourth" style="color:white">用细致、用心带来最好的使用体验</div>
        </div>
    </div>
<!--单页导航   add by 刘浩-->
    <div  id="s1" class="mian-onepage-nav all-hidden two-hidden" style="margin-bottom:80px">
        <div class="main-content single-page-nav">
            <a class="btn btn-inside-nav " href="#s1">扫码枪</a>
            <a class="btn btn-inside-nav " href="#s2">POS机</a>
            <button onclick="showTel('sale_tel')" class="btn pull-right btn-inside-nav btn-inside-b" name="tel">销售电话</button>
        </div>
    </div>
    <div class="mian-onepage-nav onepage-nav-fix" id="onepage-nav-fix">
        <div class="main-content single-page-nav">
            <a class="btn btn-inside-nav " href="#s1">扫码枪</a>
            <a class="btn btn-inside-nav " href="#s2">POS机</a>
            <button onclick="showTel('sale_tel')" class="btn pull-right btn-inside-nav btn-inside-b" name="tel">销售电话</button>
        </div>
    </div>
<!--end-->
    <div class="text-center font-title-b">
        效率与美学的完美融合
    </div>
    <div class="text-center font-content" style="padding-top:40px;color:#999999;padding-bottom:40px">
        根据人工体学所设计出的手握机身，以创新美学设计和精湛典雅的工艺，为您
        <br>
        的门店更添一份品质。
    </div>
    <div class="text-center">
        <img src="static/src/img/scanandpos/2.jpg" class="scan-img">
    </div>
    <!--<div class="main-single-border"></div>-->
    <div class="main-content dianshang-second"  style="color:#999999">
        <div class="grid-4-form">
            <div class="grid-4">
                <div class="text-center">
                    <img class="grid-4-img" src="static/src/img/scanandpos/5-4.png" >
                </div>
                <div class="hardware-second-title text-center" style="color:#404040">
                    设计美学
                </div>
                <div class="hardware-font-content text-center">
                    完美的线条结合优越的材质为您缔造出更卓越的手感。
                </div>
            </div>
            <div class="grid-4">
                <div class="text-center">
                    <img class="grid-4-img" src="static/src/img/scanandpos/5-3.png" >
                </div>
                <div class="hardware-second-title text-center" style="color:#404040">
                    智能科技
                </div>
                <div class="hardware-font-content text-center">
                    采用PRZM智能成像技术精准聚焦，0.1秒迅速感应。
                </div>
            </div>
        </div>
        <div class="grid-4-form">
            <div class="grid-4">
                <div class="text-center">
                    <img class="grid-4-img" src="static/src/img/scanandpos/5-2.png" >
                </div>
                <div class="hardware-second-title text-center" style="color:#404040">
                    相互兼容
                </div>
                <div class="hardware-font-content text-center">
                    一台机器同时支持条形码与二维码扫描。
                </div>
            </div>
            <div class="grid-4">
                <div class="text-center">
                    <img class="grid-4-img" src="static/src/img/scanandpos/5-1.png" >
                </div>
                <div class="hardware-second-title text-center" style="color:#404040">
                    咫尺距离
                </div>
                <div class="hardware-font-content text-center">
                    蓝牙连接，让您的操作不再受限于一根数据线的距离。
                </div>
            </div>
        </div>
        <div class="grid-4-form">
            <div class="grid-4">
                <div class="text-center">
                    <img class="grid-4-img" src="static/src/img/scanandpos/5-8.png" >
                </div>
                <div class="hardware-second-title text-center" style="color:#404040">
                    国家认证
                </div>
                <div class="hardware-font-content text-center">
                    已获取外观以及实用新型国家专利认证。
                </div>
            </div>
            <div class="grid-4">
                <div class="text-center">
                    <img class="grid-4-img" src="static/src/img/scanandpos/5-7.png" >
                </div>
                <div class="hardware-second-title text-center" style="color:#404040">
                    运行时间
                </div>
                <div class="hardware-font-content text-center">
                    内嵌低功耗技术，超长的使用时间，让您一次充电即可运行30小时以上。
                </div>
            </div>
        </div>
        <div class="grid-4-form">
            <div class="grid-4">
                <div class="text-center">
                    <img class="grid-4-img" src="static/src/img/scanandpos/5-6.png" >
                </div>
                <div class="hardware-second-title text-center" style="color:#404040">
                    适用范围
                </div>
                <div class="hardware-font-content text-center">
                    适应于多种市面上常用收银环境，多种商业类型与门店设备，无缝适配使用。
                </div>
            </div>
            <div class="grid-4">
                <div class="text-center">
                    <img class="grid-4-img" src="static/src/img/scanandpos/5-5.png" >
                </div>
                <div class="hardware-second-title text-center" style="color:#404040">
                    品质保障
                </div>
                <div class="hardware-font-content text-center">
                    优越的材质以及独具匠心的工艺，让产品更具保障，更经久耐用。
                </div>
            </div>
        </div>
    </div>

    <div class="main-bg all-hidden" style="background-image:url('static/src/img/scanandpos/3.jpg');height: 511px;">
    </div>
    <img class="one-hidden two-hidden" src="static/src/img/scanandpos/3.jpg" style="width:100%">

    <div id="s2" class="main-content scan-pos-s2">
        <div class="hardware-left-content scan-left">
            <div class="font-title-b" style="">
                移动带来便捷
            </div>
            <div style="font-size:18px;color: #999999;margin-top:24px">
                支持绝大多数系统并使用无线功能
                <br>
                同时支持磁条卡、IC卡、非接触式卡与
                <br>任意二维码支付软件（微信、支付宝）收款
                <br>
                方式桌面手持皆宜。
            </div>
        </div>
        <img class="index-img" src="static/src/img/scanandpos/4-1.jpg" style="margin-top:20px">
    </div>
    <div class="main-single-border"></div>
    <div class="main-content scan-pos-s3">
        <div class="hardware-right-content scan-right" style="padding-top: 80px;color:black">
                <div class="font-title-b">
                    店尚智能收银POS机
                </div>
                <div class="font-content" style="color:#999999;padding-top:20px">
                    •	液态显示屏，不易划痕
                </div>
                <div  class="font-content" style="color:#999999">
                    •	支持磁条卡，芯片卡。
                </div>
                <div  class="font-content" style="color:#999999">
                    •	体积娇小轻盈，便于移动操作。
                </div>
                <div  class="font-content" style="color:#999999">
                    •	数据传输快，无噪音干扰。
                </div>
                <div  class="font-content" style="color:#999999">
                    •	不易受环境影响，签购单保存时间长。
                </div>
        </div>
        <img class="index-img-left" src="static/src/img/scanandpos/4-2.jpg" style="margin-top:20px">
    </div>
    <div class="main-single-border"></div>
    <div class="text-center bottom-regiest-part" >
        <div class="font-title-b text-center">
            放心交给我们，我们将提供最好的服务
        </div>
        <div class="font-two text-center" style="padding-top:30px;">
            我们秉承简约至尚的理念，专注于产品优化，竭尽所能为您提供最优质的用户体验
        </div>
        <a class="btn btn-main-info bottom-regiest-btn" href="/site/register">注册</a>
    </div>

{% endblock %}