{% extends "base.html" %}
{% block content %}
<script>
    document.getElementsByTagName('title')[0].innerHTML =  '技术支持'
</script>
    <div class="main-bg support-top-bg">
        <div class="site-head-main-center">
            <div class="site-head-second-erp" style="color:white">专业缔造品质服务／我们时刻在您身边</div>
            <div class="site-head-fourth" style="color:white">我们的技术支持团队时刻聆听并解决您的问题，助您更加成功。</div>
        </div>
    </div>
    <div class="mian-onepage-nav all-hidden two-hidden" >
        <div class="main-content single-page-nav">
            <a class="btn btn-inside-nav " href="#s1">提供技术支持</a>
            <a class="btn btn-inside-nav " href="#s2">联系电话</a>
            <a class="btn btn-inside-nav " href="#s3">技术服务包</a>
            <a class="btn btn-inside-nav " href="#s4">高级服务包</a>
            <a class="btn btn-inside-nav " href="#s6">服务流程</a>
        </div>
    </div>
    <div class="mian-onepage-nav onepage-nav-fix" id="onepage-nav-fix">
        <div class="main-content single-page-nav">
            <a class="btn btn-inside-nav " href="#s1">提供技术支持</a>
            <a class="btn btn-inside-nav " href="#s2">联系电话</a>
            <a class="btn btn-inside-nav " href="#s3">技术服务包</a>
            <a class="btn btn-inside-nav " href="#s4">高级服务包</a>
            <a class="btn btn-inside-nav " href="#s6">服务流程</a>
        </div>
    </div>
    <div class="main-content hardware-second" style="color:#999999">
        <div class="grid-4-form">
            <div class="grid-4" >
                <div class="text-center">
                    <img class="grid-4-img" src="static/src/img/support/2-3.png" >
                </div>
                <div class="hardware-second-title text-center" style="color:#404040">
                    远程指导
                </div>
                <div class="hardware-font-content text-center">
                    便捷的远程协助，手把手的操作指导。
                </div>
            </div>
            <div class="grid-4">
                <div class="text-center">
                    <img class="grid-4-img" src="static/src/img/support/2-2.png">
                </div>
                <div class="hardware-second-title text-center" style="color:#404040">
                    商户培训
                </div>
                <div class="hardware-font-content text-center">
                    到店培训、课程培训以及远程培训多种方式保证迅速掌握。
                </div>
            </div>
        </div>
        <div class="grid-4-form">
            <div class="grid-4">
                <div class="text-center">
                    <img class="grid-4-img" src="static/src/img/support/2-1.png" >
                </div>
                <div class="hardware-second-title text-center" style="color:#404040">
                    增值服务
                </div>
                <div class="hardware-font-content text-center">
                    加油服务包，凡购买我们产品解决您店内一切网络问题（安装路由，重装系统），一站式服务。
                </div>
            </div>
            <div class="grid-4">
                <div class="text-center">
                    <img class="grid-4-img" src="static/src/img/support/2-4.png">
                </div>
                <div class="hardware-second-title text-center" style="color:#404040">
                    在线咨询
                </div>
                <div class="hardware-font-content text-center">
                    专业产品顾问解答您对于产品（软、硬件）的疑惑。
                </div>
            </div>
        </div>
    </div>
    <div id="s1" class="main-content" style="">
        <div class="text-center font-title-second">
            提供技术支持
        </div>
        <div class="short_line" >
        </div>
        <div class="text-center blue-title">
            我们的支持团队由谁并肩工作的产品
            <br>
            设计和工程部门
        </div>
        <div class="text-center">
            <img src="static/src/img/support/3.jpg" style="width:100%">
        </div>
    </div>
    <div class="main-content support-qusetion-part">
        <div class="dianshang-left-content">
            <div class="font-title-b">
                常见问题解决
            </div>
            <div class="hardware-second-title">
                1、 数据安全性是否有保障？
            </div>
            <div class="hardware-font-content" style="color:#999999">
                您的软件数据都存储和备份在云端，我们公司有严格的数据保护机制。假如你的软件删除或者设备故障导致软件无法使用，只需要在正常的电脑中重新安装激活帐号，即可正常使用，所有的操作数据都不会丢失。
            </div>
            <div class="hardware-second-title">
                2、 电脑或其他硬件设备出现故障，怎么办？
            </div>
            <div class="hardware-font-content" style="color:#999999">
                首先，数据是有备份的；其次，假设电脑、PAD或任何一个硬件出现问题，还可以用其他设备进行业务操作，不会影响使用。
            </div>
        </div>
        <img src="static/src/img/support/4.png" class="pull-right two-hidden all-hidden" style="    padding-top: 118px;
    width: 589px;">
    </div>

    <div id="s3" class="support-s3">
        <img src="static/src/img/support/6-2.png" style="position:absolute;left:0px;z-index: -1;">
        <img class="all-hidden" src="static/src/img/support/6-3.png" style="position:absolute;right:0px;z-index: -1;">
        <div class="main-content">
            <img src="static/src/img/support/6-1.png" class="support-img-6-1">
            <div style="" class="support-main-s3">
                <div class="font-title-b">
                    个性化技术服务包
                </div>
                <div class="font-two" style="padding-top:20px">
                    波恩致力于提供最出色的技术支持，让您能最大限度地感受到我们的热情！
                </div>
                <div class="font-two" style="padding-top:60px;color:#404040">
                    <img src="static/src/img/pos/6-2.png" class="pull-left" style="padding-right:20px">
                    一对一VIP服务包
                </div>
                <div class="font-two" style="padding-top:30px;color:#404040">
                    <img src="static/src/img/pos/6-2.png" class="pull-left" style="padding-right:20px">
                    品牌LOGO和服务包装设计
                </div>
                <div class="font-two" style="padding-top:30px;color:#404040">
                    <img src="static/src/img/pos/6-2.png" class="pull-left" style="padding-right:20px">
                    下店实操培训
                </div>
                <div class="font-two" style="padding-top:30px;color:#404040">
                    <img src="static/src/img/pos/6-2.png" class="pull-left" style="padding-right:20px">
                    活动策划与支持
                </div>
            </div>
        </div>
    </div>
    <div id="s4" style="background-color:#f7f7f7">
        <div class="text-center bottom-regiest-part">
            <div class="font-title-b text-center">
                高级会员服务，助您成就未来
            </div>
            <div class="font-two text-center" style="padding-30px">
                量身定做的会员服务，像您的管家一样帮您梳理店务管理
                <br>
                尽在波恩科技
            </div>
            <a class="btn btn-main-info bottom-regiest-btn" href="/site/register">注册</a>
        </div>
    </div>
    <div class="main-single-border">
    </div>
    <div id="s6" class="main-content" style="margin-bottom:140px">
        <div class="text-center font-title-b" style="padding-top:100px">
            服务流程
        </div>
        <div class="text-center font-two" style="padding-top:40px">
           请联系我们的客服专线或者您的专属顾问，将您的问题反馈给我们，无论是远程支持
            <br>
            或是下店服务,我们将竭尽全力！
        </div>
        <div class="text-center" style="padding-top:80px">
            <img src="static/src/img/support/9.jpg" style="width:100%">
        </div>
    </div>
    <div id="s2" class="main-bg all-hidden" style="background-image: url('static/src/img/support/5.jpg');height:400px ">
        <div style="color:white;width:450px;margin-left:auto;margin-right:auto">
            <div class="font-title-w" style="color:white;padding-top:80px">
                波恩服务热线
            </div>
            <div class="" style="font-size:60px">
                400-633-0515
            </div>
            <div class="font-two" style="padding-top:0px;color:white">
                想要获取跟多信息和帮助
                <br>
                请拨打我们的客服电话
            </div>
        </div>
    </div>
<script>
    var attr = $("#nav").attr("style");
    console.info(attr);
</script>
{% endblock %}