<!DOCTYPE html>
<html>
  <head>
    <title>jQuery WeUI</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

<link rel="stylesheet" href="static/src/css/jquery-weui/weui.min.css">
<link rel="stylesheet" href="static/src/css/jquery-weui/jquery-weui.css">
<link rel="stylesheet" href="static/src/css/jquery-weui/demos.css">

  </head>

  <body ontouchstart>



    <div >
      <div style="    border-radius: 15px;
    border: 1px solid #3D78DA;    width: 90%;margin-right:auto;margin-left:auto;margin-top:40px">
        <div style="text-align: center;font-size:17px;margin-top:10px;">
          <img src="">
            麦莎集团
        </div>
        <div style="text-align: center;font-size:52px;margin-top:30px;margin-bottom:30px;color:#3D78DA">
          <span style="   font-size: 26px;
                          position: relative;
                          top: -17px;">￥</span>88000
        </div>
        <div style="    padding: 10px 15px;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;">
          <div class="weui_cell_primary">
            <p>3451 1650 8993</P>
          </div>
          <div class="weui_cell_ft">
            2030.12
          </div>
        </div>
      </div>
    </div>



      <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="javascript:;">
          <div class="weui_cell_bd weui_cell_primary">
            <p>可用项目</p>
          </div>
          <div class="weui_cell_ft">
          </div>
        </a>
        <a class="weui_cell" href="javascript:;">
          <div class="weui_cell_bd weui_cell_primary">
            <p>消费记录</p>
          </div>
          <div class="weui_cell_ft">
          </div>
        </a>
      </div>
      <div>
        <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
            <p>我的积分</p>
          </div>
          <div class="weui_cell_ft" style="color:#3D78DA">128</div>
        </div>
        <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary">
            <p>所属门店</p>
          </div>
          <div class="weui_cell_ft" style="color:#3D78DA">徐家汇店</div>
        </div>
      </div>

      </div>
      <div style="text-align: center;
    position: absolute;
    bottom: 0;    width: 100%;">
        波恩科技

      </div>




    </div>
    <script src="static/src/js/jquery.js"></script>
    <script src="static/src/js/jquery-weui/jquery-weui.js"></script>

  </body>
</html>
