{% extends "base.html" %}
{% block content %}
<script>
    document.getElementsByTagName('title')[0].innerHTML =  '微卡-WeVIP'
</script>
<div class="all-hidden">
    <!--头部图片-->
    <div class="main-bg all-hidden weika-top-bg">
        <div class="weikaPageMain" style="padding-top: 210px">
            <p class="font-title-w" style="text-align: left;    margin-left: 10px;">
                微卡-WeVIP
            </p>
            <div style="font-size: 24px;color: #FFFFFF; text-align: left; margin-top: 34px;    margin-left: 10px;">
                属于门店自己的专属会员app（储值、结算、预约、
                <br>
                营销、微商）让会员管理简单，互动。
            </div>

            <!--<a class="btn btn-lg" style="">-->
            <!--下载-->
            <!--</a>-->
        </div>
    </div>

    <!--头部选项-->
    <div  id="weikaFeature" class="mian-onepage-nav two-hidden all-hidden" >
        <div class="main-content single-page-nav">
            <a class="btn btn-inside-nav " href="#weikaFeature">微卡的特色</a>
            <a class="btn btn-inside-nav " style="margin-left:24px" href="#weikaSupport">支持商家</a>
            <a class="btn btn-inside-nav " style="margin-left:24px" href="#weikaNews">商家的优势</a>
        </div>
    </div>
    <div class="mian-onepage-nav onepage-nav-fix two-hidden" id="onepage-nav-fix" >
        <div class="main-content single-page-nav">
            <a class="btn btn-inside-nav " href="#weikaFeature">微卡的特色</a>
            <a class="btn btn-inside-nav " style="margin-left:24px" href="#weikaSupport">支持商家</a>
            <a class="btn btn-inside-nav " style="margin-left:24px" href="#weikaNews">商家的优势</a>
        </div>
    </div>

    <!--内容-->
    <div class="weikaPageMain" >


        <!--用户特色-->
        <div  style="text-align: center;padding-top: 56px;padding-bottom:56px;">
            <table align="center">
                <tbody style="color:#999999">
                <tr>
                    <td style="width: 192px;vertical-align: top;">
                        <div style="width: 192px;background-color: #FFFFFF; text-align: center;">
                            <!--width: 100px;-->
                            <div style="height: 100px; text-align: center;">
                                <img src="static/src/img/weika/3-1.png" style="width:100px">
                            </div>
                            <div class="hardware-second-title" style=" color: #404040;">
                                舒适的用户体验
                            </div>
                            <div class="hardware-font-content">
                                无缝融合美感与功能，无卡消费的便捷，线上信息交互为用户与商家带来便捷的收银与用卡体验。
                            </div>
                        </div>
                    </td>
                    <td style="width: 192px;vertical-align: top; padding-left: 70px;">
                        <div style="width: 192px;background-color: #FFFFFF; text-align: center;">
                            <!--width: 100px;-->
                            <div style="height: 100px; text-align: center;">
                                <img src="static/src/img/weika/3-2.png" style="width:100px">
                            </div>
                            <div class="hardware-second-title" style="color: #404040;">
                                定制化的礼品卡券
                            </div>
                            <div class="hardware-font-content">
                                成为门店口碑传播的最佳载体。电子卡券嵌入收银系统，更便于赠送，核销，跟踪。与支付宝，微信对接，让朋友圈分享变得更简便贴心！
                            </div>
                        </div>
                    </td>
                    <td style="width: 192px;vertical-align: top; padding-left: 70px;">
                        <div style="width: 192px;background-color: #FFFFFF; text-align: center;">
                            <!--width: 100px;-->
                            <div style="height: 100px; text-align: center;">
                                <img src="static/src/img/weika/3-3.png" style="width:100px">
                            </div>
                            <div class="hardware-second-title" style="color: #404040;">
                                品牌营销
                            </div>
                            <div class="hardware-font-content">
                                高品质美感，优质体验的会员APP，在视觉和体验上对门店品牌形象有很好的提升和展示，良好的品牌形象更高的品牌影响力带来更多的潜在客流！
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="padding-top: 80px;padding-bottom: 80px;">
            <div style="position: absolute; z-index: 1;">
                <img id="weikaImageUserImage1" class="weikaImageUserImage1" src="static/src/img/weika/4-1.jpg" >
                <div style="float: right; padding-top: 30px; padding-left: 30px;">
                    <img id="weikaImageUserImage2" src="static/src/img/weika/4-2.jpg" style="width:326px;height:186px">
                </div>
            </div>


            <div style="position: relative;z-index: 2 ">

                <div id="weikaImageUserText" class="weikaImageUserText">
                    <div style="padding:60px 60px 0px 60px; font-size: 33px;color: black;">
                        <div>微卡商城－门店O2O解决方案</div>
                        <div style="padding-top: 24px;font-size: 18px;color: #999999;">
                            轻松拥有自己的线上商城，产品轻松展示，结算、预约、线上购买结合硬件支持，真正提高线上曝光率，让实体门店升级网上商城。更可开通微信商城，让商城与朋友圈无缝对接，提高浏览量和购买量。
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--为你的商店导入更多的流量-->
        <div id="weikaSupport" style="padding-top: 100px; padding-bottom:120px;border-top: 1px solid #e2e2e2; text-align: center;">
            <div style="font-size: 48px;color: black;">
                为您的商店导入更多的流量
            </div>
            <div style="margin-top: 20px;color: #999999; font-size: 18px;">
                更精准、多样化、个性化的营销方案
                <br>专属营销导师，带您分析并制定适合的营销方案
            </div>
            <div class="all-hidden two-hidden" style="padding-top: 80px;">
                <table align="center">
                    <tbody>
                    <tr>
                        <td style="width: 616px;vertical-align: top;">
                            <div style="width: 616px;background-color: #FFFFFF;">
                                <!--width: 100px;-->
                                <div style="height: 328px; text-align: center;">
                                    <img src="static/src/img/weika/5-1.jpg" style="height: 328px;">
                                </div>
                                <div style="padding-top: 50px;font-size: 20px; color: #404040;text-align: left;">
                                    祝您成功
                                </div>
                                <div style="padding-top: 24px;font-size: 16px; color: #999999;text-align: left;">
                                    让客户管理和维护变得不再局限于一个短信或一个电话，让客户能收到温情的祝福和礼物，更忠实的客户，更高的客户粘性。礼品卡商城为商户提供长期的品牌及服务展示，更可成为客户在线选购礼品卡券、了解优惠信息的快速通道。
                                </div>

                            </div>
                        </td>
                        <td style="width: 364px;vertical-align: top; padding-left: 20px;">
                            <div style="width: 364px;background-color: #FFFFFF; ">
                                <!--width: 100px;-->
                                <div style="height: 328px; text-align: center;">
                                    <img src="static/src/img/weika/5-2.jpg" style="height: 328px">
                                </div>
                                <div style="padding-top: 50px;font-size: 20px; color: #404040;text-align: left;">
                                    微营销
                                </div>
                                <div style="padding-top: 24px;font-size: 16px; color: #999999;text-align: left;">
                                    微卡专注于商户营销，致力于为大家提供更多更丰富的营销方案，异业联盟、万店团购、单店联盟、定制方案等。
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="one-hidden two-hidden">
    <div class="main-bg weika-top-bg">
        <div style="    text-align: center;">
            <p style="font-size: 36px;color: #FFFFFF; padding-top:14px">
                微卡-WeVIP
            </p>
            <div style="font-size: 16px;color: #FFFFFF;">
                属于门店自己的专属会员app（储值、结算、预约、
                <br>
                营销、微商）让会员管理简单，互动。
            </div>

            <!--<a class="btn btn-lg" style="">-->
            <!--下载-->
            <!--</a>-->
        </div>
    </div>
    <div class="font-title-b text-center" style="padding-top:60px">
        微卡-WeVIP
    </div>
    <div style="padding-top:40px">
        <div style="width: 192px;background-color: #FFFFFF; text-align: center;margin-right:auto;margin-left:auto">
            <!--width: 100px;-->
            <div style="height: 100px; text-align: center;">
                <img src="static/src/img/weika/3-1.png" style="width:100px">
            </div>
            <div class="hardware-second-title" style=" color: #404040;">
                舒适的用户体验
            </div>
            <div class="hardware-font-content">
                无缝融合美感与功能，无卡消费的便捷，线上信息交互为用户与商家带来便捷的收银与用卡体验。
            </div>
        </div>
            <div style="width: 192px;background-color: #FFFFFF; text-align: center;margin-right:auto;margin-left:auto;padding-top:20px">
                <!--width: 100px;-->
                <div style="height: 100px; text-align: center;">
                    <img src="static/src/img/weika/3-2.png" style="width:100px">
                </div>
                <div class="hardware-second-title" style="color: #404040;">
                    定制化的礼品卡券
                </div>
                <div class="hardware-font-content">
                    成为门店口碑传播的最佳载体。电子卡券嵌入收银系统，更便于赠送，核销，跟踪。与支付宝，微信对接，让朋友圈分享变得更简便贴心！
                </div>
            </div>
            <div style="width: 192px;background-color: #FFFFFF; text-align: center;margin-right:auto;margin-left:auto;padding-top:20px">
                <!--width: 100px;-->
                <div style="height: 100px; text-align: center;">
                    <img src="static/src/img/weika/3-3.png" style="width:100px">
                </div>
                <div class="hardware-second-title" style="color: #404040;">
                    品牌营销
                </div>
                <div class="hardware-font-content">
                    高品质美感，优质体验的会员APP，在视觉和体验上对门店品牌形象有很好的提升和展示，良好的品牌形象更高的品牌影响力带来更多的潜在客流！
                </div>
            </div>
    </div>

    <img src="static/src/img/weika/4-1.jpg" style="padding-top:40px;width:100%">

    <div class="text-center" style="width:320px;margin-left:auto;margin-right:auto;font-size: 33px;color: black;">
        <div>微卡商城－门店O2O解决方案</div>
        <div style="padding-top: 24px;font-size: 18px;color: #999999;">
            轻松拥有自己的线上商城，产品轻松展示，结算、预约、线上购买结合硬件支持，真正提高线上曝光率，让实体门店升级网上商城。更可开通微信商城，让商城与朋友圈无缝对接，提高浏览量和购买量。
        </div>
    </div>
                            <div class="text-center" style="padding-top: 50px;width: 320;margin-left:auto;margin-right:auto;background-color: #FFFFFF;">
                                <!--width: 100px;-->
                                    <img src="static/src/img/weika/5-1.jpg" style="width: 320px;">

                                <div style="font-size: 20px; color: #404040;">
                                    祝您成功
                                </div>
                                <div style="padding-top: 24px;font-size: 16px; color: #999999;">
                                    让客户管理和维护变得不再局限于一个短信或一个电话，让客户能收到温情的祝福和礼物，更忠实的客户，更高的客户粘性。礼品卡商城为商户提供长期的品牌及服务展示，更可成为客户在线选购礼品卡券、了解优惠信息的快速通道。
                                </div>
                            </div>
                            <div class="text-center" style="padding-top: 50px;width: 320;margin-left:auto;margin-right:auto;background-color: #FFFFFF;">
                                <!--width: 100px;-->
                                <img src="static/src/img/weika/5-2.jpg" style="width: 320px;">
                                <div style="font-size: 20px; color: #404040;">
                                    微营销
                                </div>
                                <div style="padding-top: 24px;font-size: 16px; color: #999999;margin-bottom:40px">
                                    微卡专注于商户营销，致力于为大家提供更多更丰富的营销方案，异业联盟、万店团购、单店联盟、定制方案等。
                                </div>
                            </div>
</div>

<script>

function getImageWidth(url,callback){
	var img = new Image();
	img.src = url;

	// 如果图片被缓存，则直接返回缓存数据
	if(img.complete){
	    callback(img.width, img.height);
	}else{
            // 完全加载完毕的事件
	    img.onload = function(){
		callback(img.width, img.height);
	    }
        }
}
    var imgSrc = $("#weikaImageUserImage1").attr("src");
    getImageWidth(imgSrc,function(w1,h1){
        var imgSrc = $("#weikaImageUserImage2").attr("src");
        getImageWidth(imgSrc,function(w,h){
                console.log({width:w,height:h});
                var imageWidth = 1016 - w - 30;
                var imageHeight = h + 44 + 30;
                var paddingTop = h1 - 44;

                $('#weikaImageUserText').css({
                        height:imageHeight,
                        width: imageWidth,
                    });
            });
        });


</script>

{% endblock %}